name: Build for macOS
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            packages/xcap_ffi/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('packages/xcap_ffi/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: beta
          cache: true

      - name: Enable native assets
        run: flutter config --enable-native-assets

      - name: Install dependencies
        run: flutter pub get
        
      - name: Create podfile
        run: flutter create --platforms=macos . && sed -i '' "s/^#* *platform :.*$/platform :osx, '10.15'/" macos/Podfile

      - name: Build macOS
        run: |
          export FLUTTER_XCODE_ARCHS=arm64
          flutter build macos --release

      - name: Archive macOS build
        uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: build/macos/Build/Products/Release/petto.app
          compression-level: 6
          retention-days: 7